* {
  margin: 0;
  padding: 0;
}

body  {
  background-color: #FFFFFF;
  line-height: 1.7;
  font-size: 16px;
}


#background {
  background: url(../images/bg.jpg);
  height:100vh;
  color: #FFFFFF;
  background-position: top left;
  background-size: cover;
  margin: 0px;
  padding:0px;
}

.tracker {
  padding: 2em;
}

.tracker h3 {
  font-size: 20px;
  line-height: 35px;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  font-weight: 200;
}

h1  {
   font-size:60px;
   font-weight: normal;
   text-align: center;
   line-height: normal;
   padding-top: 100px
}

.button {
  background-color: #ffccff;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
}
